.custom-checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid white; /* White border */
  border-radius: 4px; /* Slightly rounded corners */
  background-color: transparent; /* Transparent background */
  cursor: pointer;
  position: relative;
  margin-top: 20px; /* Adds margin on top */
}

.checkbox-label {
  font-size: 14px;
  color: #b8b8b8;
  margin-left: 8px; /* Spacing between checkbox and label */
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}
