.tag-tech {
  padding: 4px 4px;
  border: 1px solid #c191ff;
  background-color: #a000ff1f;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4;
}

.tag-fundamental {
  padding: 4px 4px;
  border: 1px solid #ffae5d;
  background-color: #ff880a1f;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4;
}

.tags-div {
  margin-top: 12;
  display: flex;
  justify-content: flex-start;
  gap: 15;
}

@media screen and (max-width: 768px) {
  .tags-div {
    margin-top: 14;
    display: flex;
    justify-content: flex-start;
    gap: 15;
    margin-left: 80px;
  }
}

@media screen and (max-width: 574px) {
  .tags-div {
    margin-top: 14;
    display: flex;
    justify-content: flex-start;
    gap: 15;
    margin-left: 48px !important;
  }
}
