@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");

.nav-container {
  /* width: 100vw !important; */
  height: 80px;
  background-color: #121212 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #323232 !important;
}

.search {
  display: flex;
  margin-left: 10%;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15 !important;
  margin-left: auto;
  margin-right: 10%;
}

.icon {
  color: aliceblue;
  width: 24px;
  height: 24px;
}

.ct-button {
  border: 2px solid !important;
  border-radius: 8px !important;
  color: #fcb456 !important;
}

.nav-button {
  color: aliceblue !important;
  font-family: "Sora", sans-serif !important;
  text-transform: none !important;
}

.button-box {
  display: flex;
  margin-left: 6%;
  gap: 20;
}
