@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");

.nav-container {
  /* width: 100vw !important; */
  height: 80px;
  background-color: #121212 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #323232 !important;
}

.nav-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.search-input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  padding: 5px;
  width: 100%;
}

.search-fieldbox {
  display: flex;
  width: "180px";
  background-color: #232323;
  border-radius: 8px;
  padding: 8px 12px;
  gap: 1;
}

.nav-ul li {
  cursor: pointer;
  color: #565656; /* Default color */
  font-weight: normal;
  position: relative;
  padding: 5px 10px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 4px;
}

.nav-ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit; /* Inherit color from li */
  gap: 4px;
}

/* Default state: Icons & images in gray */
.nav-ul li:not(:nth-last-child(3)) img,
.nav-ul li:not(:nth-last-child(3)) svg {
  filter: grayscale(100%) brightness(0.7); /* Make icons & images gray */
  transition: filter 0.3s ease, color 0.3s ease;
}

/* Active state: Text, icons & images turn white */
.nav-ul li.active {
  font-weight: bold;
  color: white;
}

.nav-ul li.active img,
.nav-ul li.active svg {
  filter: grayscale(0%) brightness(1); /* Make icons & images full color */
}
@media screen and (min-width: 768px) {
  .nav-content {
    justify-content: space-between;
    padding: 10;
  }

  .search-fieldbox {
    width: 360px;
  }
}

.search {
  display: flex;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15 !important;
  margin-left: auto;
  margin-right: 10%;
}

.icon {
  color: aliceblue;
  width: 24px;
  height: 24px;
}

.ct-button {
  border: 2px solid !important;
  border-radius: 8px !important;
  color: #fcb456 !important;
  padding: 10;
}

.nav-button {
  color: aliceblue !important;
  font-family: "Sora", sans-serif !important;
  text-transform: none !important;
}

.button-box {
  display: flex;
  margin-left: 6%;
  gap: 20;
}
