.typo-style {
  font-family: "Inter", sans-serif !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  color: #fff !important;
}

.sidebar-li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20;
}

ul {
  list-style-type: none;
  gap: 2;
}

.typo-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15;
  margin-bottom: 30px;
}
